head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="format-detection", content="telephone=no")
    meta(name="apple-mobile-web-app-capable", content="yes")
    link(href="apple-touch-icon.png" rel="apple-touch-icon")
    link(href="favicon.png" rel="icon" )
    meta(name="author", content="Nghia Minh Luong")
    meta(name="keywords" content="")
    meta(name="description", content="")
    block title
        title page Title
    // Fonts
    include fonts
    // CSS Library
    include styles
    //HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    //WARNING: Respond.js doesn't work if you view the page via file://
    //[if lt IE 9]><script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script><script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script><![endif]