.ps-table {
    thead {
        > tr {
            > th {
                font-family: $font-1st;
                font-size: 18px;
                font-weight: 700;
                color: #515356;
                text-transform: uppercase;
                border-bottom: 1px solid #e5e5e5;
            }
        }
    }
    tbody {
        > tr {
            > td {
                vertical-align: middle;
                padding: 30px 10px;
            }
        }
    }
}

.ps-table--compare {
    border: 1px solid #e1e1e1;

    tbody {
        > tr {
            > td {
                padding: 20px 30px;
                border: 1px solid #e1e1e1;
                font-weight: 500 !important;
                color: #000;
                text-transform: uppercase;
                &:first-child {
                    background-color: #f5f5f5;
                    border-color: #e1e1e1;
                    text-transform: uppercase;
                    color: #000;
                    font-size: 18px;
                    font-weight: 700;
                    vertical-align: middle !important;
                }
                .price {
                    font-size: 18px;
                    font-weight: 500;
                    color: #000;
                }
                .status {
                    font-size: 18px;
                    font-weight: 500;
                    color: #989898;
                    text-transform: uppercase;
                    &.in-stock {
                        color: #13aa18;
                    }
                }
            }
        }
    }
}

.ps-table--whishlist {
    thead {
        > tr {
            > th {
                text-align: center;
            }
        }
    }
    tbody {
        > tr {
            > td {
                text-align: center;
                font-size: 18px;
                color: #8d8d8d;
                .ps-product-link {
                    text-transform: uppercase;
                    color: $color-1st;
                    font-weight: 500;
                    font-size: 14px;
                    &:hover {
                        color: #333;
                    }
                }
                &:first-child {
                    width: 30%;
                    text-align: left;
                }
                &:last-child {
                    width: 150px;
                }
            }
        }
    }
}
